### Q 2. Consider any business scenario dataset and apply algorithm to handle the missing data.
#### a. Find out the detail of the dataset to check the missing value.
#### b. According to the missing value, find out the suitable algorithm to handle the missing data.
#### c. Apply algorithm to handle the missing data and again check the missing value in the dataset.

### Dataset
Starbucks started as a roaster and retailer of whole bean and ground coffee, tea and spices with a single store in Seattleâ€™s Pike Place Market in 1971. The company now operates more than 24,000 retail stores in 70 countries.
This dataset includes a record for every Starbucks or subsidiary store location currently in operation as of February 2017.

Link: https://www.kaggle.com/starbucks/store-locations

In [1]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv(r'C:\Users\manas\Desktop\PAUP\2\directory.csv')
data.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [24]:
data.shape

(25600, 13)

In [25]:
data.describe()

          Longitude      Latitude
count  25599.000000  25599.000000
mean     -27.872234     34.793016
std       96.844046     13.342332
min     -159.460000    -46.410000
25%     -104.665000     31.240000
50%      -79.350000     36.750000
75%      100.630000     41.570000
max      176.920000     64.850000

In [26]:
data.isnull().sum()

Brand                0
Store Number         0
Store Name           0
Ownership Type       0
Street Address       2
City                15
State/Province       0
Country              0
Postcode          1522
Phone Number      6861
Timezone             0
Longitude            1
Latitude             1
dtype: int64

In [27]:
train_total=data.isnull().sum()

train_percent=((data.isnull().sum()/(data.shape[0])*100).round(2))

train_missing_data=pd.concat([train_total,train_percent],axis=1,
                        keys=["train_total","train_percent"],sort=True)

train_missing_data.style.bar(color = ["gold"])

In [28]:
data.dtypes[data.isnull().any()]

Street Address     object
City               object
Postcode           object
Phone Number       object
Longitude         float64
Latitude          float64
dtype: object

In [31]:
data["Postcode"]=data["Postcode"].fillna(data["Postcode"].mode()[0])
data["Phone Number"]=data["Phone Number"].fillna(data["Phone Number"].mode()[0])

In [32]:
train_total=data.isnull().sum()

train_percent=((data.isnull().sum()/(data.shape[0])*100).round(2))

train_missing_data=pd.concat([train_total,train_percent],axis=1,
                        keys=["train_total","train_percent"],sort=True)

train_missing_data.style.bar(color = ["gold"])